{% extends "base.html" %}
{% block includes %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
{% endblock %}
{% block title %} Code {% endblock %}


{% block main %}
<script>
 // Initialize highlight.js
document.addEventListener("DOMContentLoaded", () => {
    // This will highlight all code blocks on the page
    hljs.highlightAll();
});

</script>
<div id="codeblock">
    <pre><code 
        {% if paste.language == "Python" %}
        class="python"
    {% elif paste.language == "C++" %}
        class="cpp"
    {% elif paste.language == "C" %}
        class="c"
    {% elif paste.language == "JavaScript" %}
        class="javascript"
    {% elif paste.language == "Java" %}
        class="java"
    {% elif paste.language == "C#" %}
        class="csharp"
    {% else %}
        class="plaintext"
    {% endif %}
    >
    {{ paste.text }}
    </code></pre>
</div>
{% endblock %}
