body {
    background-image: url("/static/img/bg.jpg");
    background-size: cover;
    background-image: no-repeat;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; 
    opacity: 0.5; 
    pointer-events: none; 
    z-index: -1;
}

#paste-form {
    display: flex;
    justify-content: center;
}

.CodeMirror {
    margin-top: 20px;
    resize: none;
    display: block;
    height: 20em !important;
    width: 50em !important;
}


hr { 
    border-color: #fefefe;
}

button {
    margin-top: 15px;
}

#preamble {
    display: block;
    color: white;
    top: 10px;
    position: relative;
    font-size: 35px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#lng-lbl {
    color: white;
    font-size: 25px;
    display: inline;
    margin-right: 10px;
}

#language {
    display: inline;
    width: 150px;
}

#options {
    float: right;
    margin-top: 10px;
}

.submission {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    padding-left: 5px;
}

#submissions {
    margin-bottom: 50px;
}

.submission a {
    text-decoration: none;
    color: inherit;
}

.submission a:hover {
    text-decoration: underline;
}

.submission p {
    display: inline;
}

.hljs {
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;

    border-color: orange;
}