body {
    background-image: url("/static/img/bg.jpg");
    background-size: cover;
    background-image: no-repeat;
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Solid black background */
    opacity: 0.5; /* Adjust opacity to control the darkness */
    pointer-events: none; /* Prevent it from interfering with clicks or other interactions */
    z-index: -1;
}

#paste-form {
    display: flex;
    justify-content: center;
}

#paste-form textarea {
    margin-top: 20px;
    resize: none;
    display: block;
}

hr { 
    border-color: #fefefe;
}

button {
    margin-top: 15px;
}

#preamble {
    display: block;
    color: white;
    top: 10px;
    position: relative;
    font-size: 35px;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

#lng-lbl {
    color: white;
    font-size: 25px;
    display: inline;
    margin-right: 10px;
}

#language {
    display: inline;
    width: 150px;
}

#options {
    float: right;
    margin-top: 10px;
}